#Ball {
	-fx-stroke: black;
	-fx-stroke-width: 1;
	-fx-fill: radial-gradient(focus-distance 0%, center 30% 30%, radius 40%, repeat,
		white, gray);
}

#SuperBall {
	-fx-stroke: black;
	-fx-stroke-width: 1;
	-fx-fill: radial-gradient(center 50% 50%, radius 50%, red, orange, yellow, green,
		blue);
}

#Defeat {
	-fx-opacity: 0.3;
	visibility: hidden;
}

#Flip {
	-fx-stroke: red;
	-fx-stroke-width: 1.5;
	-fx-fill: #d6d6d6;
}

#Launcher {
	-fx-stroke: black;
	-fx-stroke-width: 1;
	-fx-fill: linear-gradient(from 15px 15px to 20px 20px, reflect, red 30%, black 47%
		);
}

#Slingshot {
	-fx-stroke: black;
	-fx-stroke-width: 1;
	-fx-fill: red;
}

#Bumper {
	-fx-stroke: black;
	-fx-stroke-width: 1;
	-fx-fill: radial-gradient(center 50% 50%, radius 50%, white, red);
}

#CibleFixe {
	-fx-stroke: red;
	-fx-stroke-width: 1.5;
	-fx-fill: white;
}

#Trou {
	-fx-fill: url(file:Code/IG/src/main/res/css/Image/Flipper1/Trou.png);
}

#Planete {
	-fx-stroke: black;
	-fx-stroke-width: 1;
	-fx-fill: url(file:Code/IG/src/main/res/css/Image/Flipper1/Planete.jpg);
}